.header {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  background-color: blue;
}

.header h1{
  color: blue;
}

.headercart {
  display: flex;
  align-items: center;
}

.headercart i {
  margin-right: 2px;
  font-size: 25px;
  color: black;
}

.headercart p {
  margin: 0;
  margin-top: -19px;
  font-size: 15px;
  font-weight: bold;
  color: blue;
  margin-left: -9px;
  background-color: yellow;
  border-radius: 75px;
}

.form{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
}

.products{
  padding: 30px;
  text-align: center;
  background-color: yellow;
}

.products button{
  background-color: black;
  border-radius: 25px;
  color: yellow;
}